.bar{
    
    width:80vw;
    position:fixed;
    left:calc(50% - 80vw/2);
    height:20%;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius:5px;
    margin:0px;

    

    
    
    



}

body{
    margin:0px;
    background: url(https://wallpapers.com/images/hd/glitch-effect-1920-x-1080-background-q32v7hsp0psoa5m1.jpg);
    max-height:100%;
    max-width:100%;
    background-size: cover;
    background-repeat: none;
    overflow:none;

    
    

}



ul{
    
    list-style-type:none;
    display:flex;
    position:fixed;
    
    
    
    
}



ul li a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-decoration: none;
    margin:30px;
    
    
    
    
    

}

main{
    height:80vh;
    width:60vw;
    backdrop-filter: blur(3px);
    position:fixed;
    left:calc(50% - 30vw);
    top:25vh;
    
    box-shadow:inset 0px 0px 100px 20px rgba(0, 0, 0, .6), 0px 0px 5px 2px;

    
}

ul a:hover{
    background-color: rgb(152, 39, 67);
    padding-right:10px;
    padding-left:10px;
    padding-top:3px;
    padding-bottom:3px;
    border-radius:15px;
    font-size:25px;
    transition:.2s;
    
    
    

}
